@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h3>Shop for your favorite Food, we've got the best prices. here In Pendo Resturant</h3>
      <p>
          @Html.ActionLink("Pies", "Index", "Pies")
      </p>
    </div>
